.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.topic-input {
  width: 100%;
  height: 80px;
  color: black;
}
.left-count {
  width: 300px;
  display: block;
  float: left;
  text-align: left;
}
.topic-submit {
  float: right;
}
#topics.row .col {
  padding: 15px 7px;
}
#topics.row .col .box {
  background-color: lightgray;
  padding: 25px 15px;
}
#topics.row .col .box hr {
  height: 1px;
  margin: 10px;
}
#topics.row .col .box .votes {
  float: right;
}
#topics.row .col .box .votes .vote {
  color: gray;
}
#topics.row .col .box .votes .vote:hover {
  color: black;
  cursor: pointer;
}
